.btn {
    outline: none;
    border: none;
    background: #2f92e6;
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
    margin: 0 2px;
  }
  .btn-disable{
    background: #7db9ec;  
  }